---
import ArrowBackIcon from '../../components/icons/ArrowBack.astro';
import Layout from '../../layouts/Layout.astro';

import type { GetStaticPaths } from 'astro';
import Chips from '../../components/Chips/Chips.astro';
import GitHub from '../../components/icons/GitHub.astro';
import WorldMap from '../../components/icons/WorldMap.astro';
import { PROYECTS, PROYECTS_REACT } from '../../db/proyectsDB.js';

const { id } = Astro.params;

const proyectes = [...PROYECTS, ...PROYECTS_REACT];
const proyectSelected = proyectes.find(proyet => proyet.id === id);

export const getStaticPaths = (() => {
  const proyectes = [...PROYECTS, ...PROYECTS_REACT];

  const proyectsID = structuredClone(proyectes);
  return proyectsID.map(proyect => ({ params: { id: proyect.id } }));
}) satisfies GetStaticPaths;
---

<Layout title={proyectSelected.title}>
  <header class="proyect-info__header wrapper">
    <a href="/#proyects" class="proyect-info__back">
      <ArrowBackIcon class="proyect-info__arrow" />
      Regresar
    </a>
  </header>
  <main class="proyect-info wrapper">
    <img class="proyect-info__img" src={proyectSelected.img} alt={proyectSelected.title} />
    <div class="proyect">
      <div class="proyect__header">
        <h1 class="proyect__title" transition:name=`title${id}` view-transition-name=`title-${id}`>
          {proyectSelected.title}
        </h1>
        <div class="proyect__butons">
          <a
            class="proyect__buton"
            href={proyectSelected.demo}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="link para ver demo"
          >
            <WorldMap class="proyect__icon" />
            <span class="visually-hidden">Demo</span>
          </a>
          <a
            class="proyect__buton"
            href={proyectSelected.repo}
            target="_blank"
            rel="noopener noreferrer"
            aria-label="link para ver demo"
          >
            <GitHub class="proyect__icon" />
            <span class="visually-hidden">Repo</span>
          </a>
        </div>
      </div>
      <Chips tegnologies={proyectSelected.tegnologies} />
      <p class="proyect__description">{proyectSelected.description}</p>
    </div>
    {
      proyectSelected.features?.length > 0 && (
        <div class="features">
          <h3 class="features__title">Funcionalidades</h3>
          <ul class="features__list">
            {proyectSelected.features?.map(feature => (
              <li class="features__li smoke"> {feature}</li>
            ))}
          </ul>
        </div>
      )
    }
  </main>

  <style>
    .proyect-info {
      padding: 1em;
    }
    .proyect-info__header {
      padding: 1rem;
    }
    .proyect-info__back {
      max-width: 10rem;
      padding: 0.5em 1em;
      border-radius: 0.5rem;
      background-color: rgba(var(--color-button-accent), 0.2);
      border: 1px solid rgba(var(--color), 0.2);
      transition: transform 0.2s ease-in;

      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .proyect-info__arrow {
      width: 1.3rem;
    }
    .proyect-info__back:hover {
      transform: scale(1.1);
    }
    .proyect-info__img {
      max-width: 40rem;
      margin-inline: auto;
      margin-bottom: 4rem;
      aspect-ratio: 16/9;
      border-radius: 0.4em;
    }

    .proyect {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      margin-bottom: 1.5rem;
    }
    .proyect__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .proyect__title {
      font-size: clamp(2em, 3vw, 1.3em);
      font-weight: 600;
      line-height: 1.3;
    }
    .proyect__icon {
      width: 1.2rem;
    }

    .proyect__description {
      text-wrap: pretty;
      max-width: 50rem;
    }
    .proyect__butons {
      font-weight: 400;
      display: flex;
      justify-items: center;
      gap: 2em;
    }
    .proyect__buton {
      padding: 0.2em 0.2em 0 0.2em;
      transition: transform 0.3s ease-in;
    }
    .proyect__buton:hover {
      transform: scale(1.2);
    }

    .features__title {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .features__list {
      max-width: 70rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      font-size: 15px;
    }
    .features__li {
      text-wrap: pretty;
      list-style: disc;
      &::marker {
        color: rgba(var(--color), 1);
      }
    }
  </style>
</Layout>
