---
import { experiences } from '../db/experience';
import ExperienceCard from './ExperienceCard.astro';
import ExperienceIcon from './icons/Experience.astro';
---

<section class="experience">
  <h2 class="section-title">
    <ExperienceIcon class="experience__icon" />
    Experiencia laboral
  </h2>
  <ol class="experience__list">
    {
      experiences.map(experience => (
        <ExperienceCard
          time={experience.time}
          role={experience.role}
          company={experience.company}
          location={experience.location}
          link={experience.link}
          description={experience.description}
          description2={experience.description2}
        />
      ))
    }
  </ol>
</section>

<style>
  .experience {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    padding: 3rem 2rem 0 0;
  }
  @media screen and (max-width: 850px) {
    .experience {
      padding: 1rem;
    }
  }
  .experience__icon {
    width: 1em;
    color: rgba(var(--color), 1);
  }

  .experience__list {
    margin-left: 0.8em;
    padding: 0.3em 0 0 0;
    border-left: solid #fff;
    border-inline-start-width: 1px;
    border-color: rgba(var(--muted), 1);
    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }
</style>
