---
import { PROYECTS } from '../db/proyectsDB.js';
import CodeIcon from './icons/Code.astro';
import ProyectCard from './ProyectCard/ProyectCard.astro';

const proyectsAngular = structuredClone(PROYECTS);
---

<section class="proyects wrapper" id="proyects" transition:persist>
  <h2 class="section-title">
    <CodeIcon class="proyects__icon" />
    Proyectos
  </h2>

  <div class="proyects__container">
    <div class="proyects__list">
      {
        proyectsAngular.map(proyect => (
          <ProyectCard
            id={proyect.id}
            title={proyect.title}
            demo={proyect.demo}
            repo={proyect.repo}
            descriptionList={proyect.descriptionList}
            isInConstruction={proyect.isInConstruction}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .proyects {
    padding: 1em;
    margin-bottom: 3em;
    transition: all 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }
  .proyects__subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: yellow;
  }
  .proyects__icon {
    width: 1em;
    color: rgba(var(--color), 1);
  }

  .proyects__container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .proyects__list {
    width: 100%;

    transition: all 0.2s ease-in-out;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2em;
  }
</style>
